
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,100&display=swap');
/* PALETA DE COLORES2
AZUL FUERTE #1E9199
AZUL MEDIO #80D6DA
AZUL CLARO #4EA6AC
GRIS #9E9DA0 */

#root {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: #9e9da056;
  font-family: 'Barlow', sans-serif;

}
.linkNav {
text-decoration: none;
font-family: 'Barlow', sans-serif;
font-size: 20px;
color: #1E9199
}

.buttomLogout {
text-decoration: none;
font-family: 'Barlow', sans-serif;
font-size: 15px;
font-weight: bold;
}
Form {
  text-align: center;
      
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.me-auto {

  box-shadow: 5px 5px 15px gray;
  align-items: center;
  padding: 5px;
  color: #1E9199;
  }

.me-auto :hover{
  
  border-radius: 10px ;
  background-color:#1E9199;
  color: white;
  transition-duration: 0.5s;
  height: 35px;
  
}
/* LOGO Y CABECERA*/

.cabeceraHome {
  
  flex-direction: column;
  justify-content: center;


}
.logo {
  width: 90vw;
  margin-top: 20px;
  border-radius: 10px;
box-shadow: 0 0 15px #ddd;
background: #fff;
}

.logo:hover{
  border-radius:50%;
  -webkit-border-radius:7%;
  box-shadow: 0px 0px 10px 10px #1E9199;
  -webkit-box-shadow: 0px 0px 10px 10px #1e91995b;
  transition-duration: 1s;
  }


/* BOTONES */

.buttonDetails {
  margin: 5px;
}

#button {
  margin: 5px;
  background-color: rgb(112, 106, 97);
}


.btn-primary {
  color: black;
  background-color:#80D6DA;
  border: black;
  box-shadow: 5px 5px 10px gray;
  margin: 5px;
}
.btn-primary:hover{
  color: rgb(255, 255, 255);
  background-color:#1E9199;
  border: 2px black;
 
}

.btn-admin {
  color: black;
  background-color:#e2d524;
  border: black;
  box-shadow: 5px 5px 10px gray;
  margin: 5px;
}

.btn-cancel {
  color: black;
  background-color:#db5618;
  border: black;
  box-shadow: 5px 5px 10px gray;
  margin: 5px;
}

.btn-cancel:hover{
  color: rgb(255, 255, 255);
  background-color:#99451e;
  border: 2px black;
 
}
.btn-admin:hover {
  color: rgb(255, 255, 255);
  background-color:#ee822b;
  border: 2px black;
}

.btn-confirm {
  color: black;
  background-color:#167592;
  border: black;
  margin: 5px;
  text-align: center;
}

.btn-confirm:hover {
  color: rgb(255, 255, 255);
  background-color:#074547;
  border: black;
  margin: 5px;
}



/* EVENT DETAILS */

.extContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardEvent {
  width: 94vw;
  margin-bottom: 10px;

  }
  .divCard{
    margin: 10px;
  }
.divCard .card{
  background: #9E9DA0;
  margin: 10px;

}
.cardSession {
  border-radius: 10px;
  background:linear-gradient(60deg, rgb(255, 255, 255),  #5faeb3);
  width: 85vw;
 
}

.containerDay {
  border: none;
  background-color: #9E9DA0  ;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dayCard {
  padding: 30px;
  /* background: #80D6DA; */
  /* box-shadow: 5px 5px 15px gray; */
  /* margin: 15px; */
  font-size: 30px;
  max-width: 450px;
}

/* FOOTER */


.enlacesFooter {
  display: flex;
  justify-content: center;

}

.footerP {
  font-size: 18px;
  color: #0e4246
}

.linkFooter {
  margin:5px;
  text-decoration: none;
font-family: 'Barlow', sans-serif;
}

/* SPINNER */

.spinnerColor {
  color: #1E9199;
  margin: 15px;
}
/* MEDIA QUERYS */

@media (min-width: 700px) {

  .cabeceraHome {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .logo {
  width: 60vw;

}
  .containerZoom:hover .divCardList {
    -webkit-transform:scale(1.05);transform:scale(1.05);
    transition-duration: 0.5s;
  }

  .extCardEvent {
    justify-content: space-between;
  }

  .extContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .containerDay {
    border: none;
    background-color: #9E9DA0  ;
    width: 350px;
    display: flex;
    align-items: center;
  
  }
  .divCardList{
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
  }
  .divCard .card {
    background: #9E9DA0;
    border: none;

  
  }
  .cardSession {
    border-radius: 10px;
    width: 330px;
    margin: 10px;
   
  }
  .extCardEvent {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .cardImg {
    height: 200px;
    object-fit: cover;
   }


   .nameEvent {
    align-items: center;
    padding-top: 6rem;
   }
   .textEvent {
    padding-top: 2rem;
   }
   .buttomsCard{
    padding-top: 5%;
    align-items: center;
   }

  .cardEvent {
    width: 800px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  Form {
    text-align: center;
        
  }
  form {
    min-width: 300px;
    
  }
}